<%- include('partials/header') %>
<main class="center-container">
  <h2>Welcome to the clubhouse!</h2>
  <a class="button-1" href="/sign-up">Sign-up</a>
  <a class="button-1" href="/login">Login</a>
</main>

<%- include('partials/footer') %>
